In [63]:
"""
Techniques Used
- Boolean Indexing
- Pivot Table
"""

import numpy as np
import pandas as pd

In [64]:
df = pd.read_csv('data/sales-funnel.csv')

In [65]:
df

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won
5,218895,Kulas Inc,Daniel Hilton,Debra Henley,CPU,2,40000,pending
6,218895,Kulas Inc,Daniel Hilton,Debra Henley,Software,1,10000,presented
7,412290,Jerde-Hilpert,John Smith,Debra Henley,Maintenance,2,5000,pending
8,740150,Barton LLC,John Smith,Debra Henley,CPU,1,35000,declined
9,141962,Herman LLC,Cedric Moss,Fred Anderson,CPU,2,65000,won
10,163416,Purdy-Kunde,Cedric Moss,Fred Anderson,CPU,1,30000,presented
11,239344,Stokes LLC,Cedric Moss,Fred Anderson,Maintenance,1,5000,pending
12,239344,Stokes LLC,Cedric Moss,Fred Anderson,Software,1,10000,presented
13,307599,"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,Maintenance,3,7000,won
14,688981,Keeling LLC,Wendy Yule,Fred Anderson,CPU,5,100000,won
15,729833,Koepp Ltd,Wendy Yule,Fred Anderson,CPU,2,65000,declined
16,729833,Koepp Ltd,Wendy Yule,Fred Anderson,Monitor,2,5000,presented

In [66]:
# How many rows have a price greater than $8,000?
len(df[df['Price'] > 8000])

12

In [67]:
# How many rows are pending AND have a price greater than $8,000?
len(df[(df['Status'] == 'pending') & (df['Price'] > 8000)])

1

In [68]:
# How many rows are pending OR have a price greater than $8,000?
len(df[(df['Status'] == 'pending') | (df['Price'] > 8000)])

15

In [69]:
# Create an amount column that's equal to price * quantity. What's the total amount won?
df['Total Amount'] = df['Quantity'] * df['Price']
df[df['Status'] == 'won']['Total Amount'].sum()

781000

In [70]:
# What's the total amount won within the CPU product category?
df[(df['Status'] == 'won') & (df['Product'] == 'CPU')]['Total Amount'].sum()

760000

In [71]:
# Create pivot table
df.pivot_table(['Total Amount', 'Quantity'], index=['Manager', 'Rep'], columns=["Status"]).fillna(0)

                            Total Amount                           Quantity  \
Status                          declined pending presented     won declined
Manager       Rep
Debra Henley  Craig Booker         35000   10000     20000       0        1
              Daniel Hilton            0   80000     10000  130000        0
              John Smith           35000   10000         0       0        1
Fred Anderson Cedric Moss              0    5000     20000  130000        0
              Wendy Yule          130000       0     10000  260500        2


Status                      pending presented won
Manager       Rep
Debra Henley  Craig Booker        2         1   0
              Daniel Hilton       2         1   2
              John Smith          2         0   0
Fred Anderson Cedric Moss         1         1   2
              Wendy Yule          0         2   4