In [2]:
import pandas as pd
import numpy as np

In [36]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [7]:
obj.values

array([ 4,  7, -5,  3])

In [8]:
obj.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [9]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [10]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [11]:
obj2['a']

-5

In [13]:
obj[0]

4

In [14]:
obj2['d'] = 6

In [16]:
obj2['e'] = 7

In [17]:
obj2

d    6
b    7
a   -5
c    3
e    7
dtype: int64

In [21]:
obj2[['d', 'e']]

d    6
e    7
dtype: int64

In [22]:
obj2 > 0

d     True
b     True
a    False
c     True
e     True
dtype: bool

In [23]:
obj2[obj2 > 0]

d    6
b    7
c    3
e    7
dtype: int64

In [24]:
'b' in obj2

True

In [25]:
'f' in obj2

False

In [26]:
series = pd.Series({
    'Ohio': 2000,
    'Austin': 1200,
    'New York': 800})

In [27]:
series

Austin      1200
New York     800
Ohio        2000
dtype: int64

In [31]:
np.random.randn?

In [38]:
cities = pd.Series({
"Austin": 450,
"Boston": None,
"Chicago": 1000,
"New York": 1300,
"Portland": 900,
"San Francisco": 1100
    })

In [39]:
cities

Austin            450
Boston            NaN
Chicago          1000
New York         1300
Portland          900
San Francisco    1100
dtype: float64

In [42]:
cities.ix['New York':]

New York         1300
Portland          900
San Francisco    1100
dtype: float64

In [43]:
cities[['New York', 'San Francisco']]

New York         1300
San Francisco    1100
dtype: float64

In [44]:
cities[cities < 1000]

Austin      450
Portland    900
dtype: float64

In [50]:
cities.values

array([  450.,    nan,  1000.,  1300.,   900.,  1100.])

In [51]:
cities + 1000

Austin           1450
Boston            NaN
Chicago          2000
New York         2300
Portland         1900
San Francisco    2100
dtype: float64

In [54]:
cities[cities.notnull()]

Austin            450
Chicago          1000
New York         1300
Portland          900
San Francisco    1100
dtype: float64

In [55]:
(cities / 2) ** 2

Austin            50625
Boston              NaN
Chicago          250000
New York         422500
Portland         202500
San Francisco    302500
dtype: float64

In [56]:
cities.map(lambda x: (x / 2) ** 2)

Austin            50625
Boston              NaN
Chicago          250000
New York         422500
Portland         202500
San Francisco    302500
dtype: float64

In [57]:
np.square(cities / 2)

Austin            50625
Boston              NaN
Chicago          250000
New York         422500
Portland         202500
San Francisco    302500
dtype: float64

In [58]:
data = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
    'year': [2014, 2015, 2016, 2015, 2017],
    'pop': [1.5, 1.8, 2.1, 2.4, 2.9]
}

In [60]:
frame = pd.DataFrame(data)

In [69]:
frame.ix[:2, 'state':]

  state  year
0  Ohio  2014
1  Ohio  2015
2  Ohio  2016

In [70]:
frame

   pop   state  year
0  1.5    Ohio  2014
1  1.8    Ohio  2015
2  2.1    Ohio  2016
3  2.4  Nevada  2015
4  2.9  Nevada  2017

In [73]:
frame = pd.DataFrame(
    data,
    columns=['year', 'state', 'pop', 'debt'],
    index=['one', 'two', 'three', 'four', 'five'])

In [75]:
frame

       year   state  pop debt
one    2014    Ohio  1.5  NaN
two    2015    Ohio  1.8  NaN
three  2016    Ohio  2.1  NaN
four   2015  Nevada  2.4  NaN
five   2017  Nevada  2.9  NaN

In [78]:
frame['debt'] = np.arange(5)

In [79]:
frame

       year   state  pop  debt
one    2014    Ohio  1.5     0
two    2015    Ohio  1.8     1
three  2016    Ohio  2.1     2
four   2015  Nevada  2.4     3
five   2017  Nevada  2.9     4

In [81]:
data = {
    'year': [2010, 2011, 2012, 2011, 2010, 2011, 2012, 2012],
    'team': ['Bears', 'Bears', 'Bears', 'Packers',
             'Packers', 'Lions', 'Lions', 'Lions'],
    'wins': [11, 8, 10, 15, 11, 6, 10, 4],
    'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

In [83]:
 football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])

In [84]:
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2010  Packers    11       5
5  2011    Lions     6      10
6  2012    Lions    10       6
7  2012    Lions     4      12

In [85]:
football['net'] = football['wins'] - football['losses']

In [86]:
football

   year     team  wins  losses  net
0  2010    Bears    11       5    6
1  2011    Bears     8       8    0
2  2012    Bears    10       6    4
3  2011  Packers    15       1   14
4  2010  Packers    11       5    6
5  2011    Lions     6      10   -4
6  2012    Lions    10       6    4
7  2012    Lions     4      12   -8

In [89]:
football[['wins', 'losses', 'net']]

   wins  losses  net
0    11       5    6
1     8       8    0
2    10       6    4
3    15       1   14
4    11       5    6
5     6      10   -4
6    10       6    4
7     4      12   -8

In [93]:
football.wins.describe()

count     8.000000
mean      9.375000
std       3.377975
min       4.000000
25%       7.500000
50%      10.000000
75%      11.000000
max      15.000000
Name: wins, dtype: float64

In [97]:
football.groupby(['team', 'year'])['net'].mean()

team     year
Bears    2010     6
         2011     0
         2012     4
Lions    2011    -4
         2012    -2
Packers  2010     6
         2011    14
Name: net, dtype: int64

In [98]:
len(football)

8

In [101]:
football.loc[8] = [2012, 'Bears', 10, 5, 5]

In [102]:
football

   year     team  wins  losses  net
0  2010    Bears    11       5    6
1  2011    Bears     8       8    0
2  2012    Bears    10       6    4
3  2011  Packers    15       1   14
4  2010  Packers    11       5    6
5  2011    Lions     6      10   -4
6  2012    Lions    10       6    4
7  2012    Lions     4      12   -8
8  2012    Bears    10       5    5

In [105]:
football.ix[15] = [2018, 'Bears', 10, 5, 5]

In [104]:
football

   year     team  wins  losses  net
0  2010    Bears    11       5    6
1  2011    Bears     8       8    0
2  2012    Bears    10       6    4
3  2011  Packers    15       1   14
4  2010  Packers    11       5    6
5  2011    Lions     6      10   -4
6  2012    Lions    10       6    4
7  2012    Lions     4      12   -8
8  2012    Bears    10       5    5
9  2018    Bears    10       5    5

In [106]:
football

    year     team  wins  losses  net
0   2010    Bears    11       5    6
1   2011    Bears     8       8    0
2   2012    Bears    10       6    4
3   2011  Packers    15       1   14
4   2010  Packers    11       5    6
5   2011    Lions     6      10   -4
6   2012    Lions    10       6    4
7   2012    Lions     4      12   -8
8   2012    Bears    10       5    5
9   2018    Bears    10       5    5
15  2018    Bears    10       5    5

In [107]:
football.ix[15, 'team'] = "Lions"

In [108]:
football

    year     team  wins  losses  net
0   2010    Bears    11       5    6
1   2011    Bears     8       8    0
2   2012    Bears    10       6    4
3   2011  Packers    15       1   14
4   2010  Packers    11       5    6
5   2011    Lions     6      10   -4
6   2012    Lions    10       6    4
7   2012    Lions     4      12   -8
8   2012    Bears    10       5    5
9   2018    Bears    10       5    5
15  2018    Lions    10       5    5

In [109]:
football.ix[8:9, 'team'] = "Lions"

In [110]:
football

    year     team  wins  losses  net
0   2010    Bears    11       5    6
1   2011    Bears     8       8    0
2   2012    Bears    10       6    4
3   2011  Packers    15       1   14
4   2010  Packers    11       5    6
5   2011    Lions     6      10   -4
6   2012    Lions    10       6    4
7   2012    Lions     4      12   -8
8   2012    Lions    10       5    5
9   2018    Lions    10       5    5
15  2018    Lions    10       5    5